<%# add navigation links to this file %>
<li><a href="/"> Home</a></li>
<li>Categories</li>
<%= if user_signed_in? %>
<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
<% else %>
<li><%= link_to "Sign up", new_user_path %> or <%= link_to "Sign in", user_session_path %></li>
<% end %>